@model WEBKITTER.UI.Models.DishModel

@{
    ViewData["Title"] = "Create Dish";
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
<hr />

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error</strong>@errorMessage
    </div>
    <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
}


<form action="Create" method="post" autocomplete="off">
    <div class= "mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for ="Name" class="text-danger"></span>
    </div><div class= "mb-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class = "d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}